<Section class = 'create-post'>
    <form id = "inputForm">
  <div class="input-form-group">
    <label for="TitleInput">Title:</label>
    <input type="title" class="form-control" id="titleInput" placeholder="Post Title">
  </div>
  <div class="input-form-group">
    <label for="blogPost">Blog Post</label>
    <textarea class="form-control" id="blogContent" rows="3"></textarea>
  </div>
</form>
    <div class = "post-btn">
    <button type="button" class="btn btn-primary btn-lg publish-post">Submit Post</button>
  </div>

</Section>
<script src="./js/createpost.js"></script>