<div class = "add-btn">
    <button type="button" class="btn btn-primary btn-lg new-post">Create Post</button>
</div>
<div class="overflow-auto">This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.

    <span>This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.</span>
    <span>This is an example of using .overflow-auto on an element with set width and height dimensions. By design, this content will vertically scroll.</span>
</div>

<script src="./js/dashboard.js"></script>