<div class = "add-btn">
    <button type="button" class="btn btn-primary btn-lg new-post">Create Post</button>
</div>
<div class="blogFeed">
    <div class="overflow-auto" id = "blogPost-scroll">
    </div>
</div>

<script src="./js/dashboard.js"></script>