<section class = "blog_feed" style = "display:flex; justify-content:center; margin-bottom:15px;">
<div style = "font-size: x-large; font-weight: bold; border-bottom: black solid;">Blog Post Feed</div>
</section>
<section class = "blogFeed">
    <div class="overflow-auto" id = "blogPost-scroll">
    </div>
</section>

<script src="./js/homepage.js"></script>
