<div class="container">
    <div class="row mt-3 login-page">

      <div class="card login-card  mb-3" style="max-width: 40rem;">
        <section class="col">

          <h2 class="login-text">Login</h2>

          <form class="form login-form">
            <div class="input-group  mb-3">
              <label class="input-group-text" for="username-login">username:</label>
              <input  class="form-control"  type="text" id="username-login" />
            </div>

            <div class="input-group  mb-3">
              <label  class="input-group-text" for="password-login">password:</label>
              <input  class="form-control"   type="password" id="password-login" />
            </div>
    
            <div class="form-group formBtn">
              <button class="btn btn-primary" type="submit">login</button>
            </div>
          </form>

        </section>
      </div>


      <div class="card login-card mb-3" style="max-width: 40rem;">
        <section class="col">

          <h2 class="login-text">Sign-Up</h2>

          <form class="form register-form">
            <div class="input-group  mb-3">
              <label class="input-group-text" for="username-register">Usermame:</label>
              <input class="form-control" type="text" id="username-register" />
            </div>
    
            <div class="input-group  mb-3">
              <label class="input-group-text" for="password-register">Choose password:</label>
              <input class="form-control" type="password" id="password-register" />
            </div>
    
            <div class="input-group  mb-3">
              <label class="input-group-text" for="password-confirm">Confirm password:</label>
              <input class="form-control" type="password" id="password-confirm" />
            </div>
    
            <div class="form-group formBtn">
              <button class="btn btn-primary" type="submit">register</button>
            </div>

          </form>
        </section>
      </div>

    </div>
</div>

<script src="./js/login.js"></script>