<div class="back_btn">
    <button class = "homepage_btn" type = "submit">Back</button>
</div>


<div class = "selected_post">

</div>

<section class = "commentFeed">
    <div class="overflow-auto" id = "comments-scroll">
    </div>
</section>

        {{#if loggedIn}}
            <section class ="add_comment">
            <div class = "leave_comment">
            <label style="font-weight: bold;" for="blogPost">Leave A Comment:</label>
            <textarea class="form-control" id="comment_input" rows="2" placeholder="comment"></textarea>
            <div class = "add-btn">
                <button type="button" class="btn btn-primary btn-lg submit-comment">Add Comment</button>
            </div>
            </div>
            </section>
        {{else}}
            <div class="comment_div">
            <div id = "noUser">User must login to comment.</div>
            </div>
        {{/if}}
<script src="./js/postSelect.js"></script>