<Section class = 'update-post'>
    <form id = "updateForm">
  <div class="input-form-group">
    <label for="TitleInput">Title:</label>
    <input type="title" class="form-control" id="titleInput">
  </div>
  <div class="input-form-group">
    <label for="blogPost">Blog Post</label>
    <textarea class="form-control" id="blogContent" rows="3"></textarea>
  </div>
</form>
    <div>
    <button type="button" class="btn btn-primary btn-lg" id = "updateBtn">Update</button>
    <button type="button" class="btn btn-primary btn-lg" id = "deleteBtn">Delete</button>
  </div>

</Section>


<script src="./js/updatePost.js"></script>