<Section class = 'update-post'>
    <form>
  <div class="form-group">
    <label for="TitleInput">Title:</label>
    <input type="title" class="form-control" id="titleInput">
  </div>
  <div class="form-group">
    <label for="blogPost">Blog Post</label>
    <textarea class="form-control" id="blogContent" rows="3"></textarea>
  </div>
</form>
    <div class = "add-btn">
    <button type="button" class="btn btn-primary btn-lg update-post">Update</button>
  </div>

</Section>


<script src="./js/updatePost.js"></script>