* {
    box-sizing: border-box;
  }
body{
  background-color: beige;
}
  main{
    padding-top: 2%;
  }
  
  
  
  .techi{
    text-decoration: none;
    font-size: 40;
    color: white;
    font-family: 'Goldman', cursive;
    
  }
  .topia0{
    color: white;
  }
  .topia{
    color: red;
    font-family: 'Anton', sans-serif;
  }
  
  .navBar{
  
    padding-left: 1%;
    background-image: linear-gradient(to bottom right, rgb(0, 65, 140), rgb(158, 182, 217));
  }
  .nav-text{
    color: rgb(46, 54, 219);
    font-weight: bolder;
  }
  #blogPost-scroll {
    border-radius: 3pt;
    Height: 81vh;
    width: 60%;
    border: darkgreen solid 5px;
    background-color: #877373;
  }

  .blog_posts{
    margin: 5%;
    border: solid 2px black;
    border-radius: 5pt;
    padding: 10px;
    background-color: #e6e9ec;
    box-shadow: 5px 2px 2px #1f1a1a;
  }

  .single_post{
    margin: 2% 0;
    border: solid 2px black;
    border-radius: 5pt;
    padding: 10px;
    background-color: #e6e9ec;
    box-shadow: 5px 2px 2px lightgrey;
    width: 50%;
  }

  .blog_comment{
    margin: 10px 10px 0 10px;
    background-color: lightblue;
    padding: 5px;
    border-radius: 5pt;
    box-shadow: 5px 2px 2px lightgrey;
  }

  .dashboard{
    display: flex;
  }

  .add-btn{
    width: 30%;
    margin-left: 15px;
  }

  .new-post{
    background-color: #115e4d;
    border-color: #115e4d;
  }

  .comment{
    text-align: right;
    font-size: small;
    margin-top: 7px;
    color: darkred;  
  }

  .comment_body{
    margin: 2% 0;
    font-size: 13pt;
  }
  
  .comment_info{
    color: #6f6a6a;
    font-style: italic;
    font-size: x-small;
  }

  .comment_div, .add_comment{
    justify-content: center;
    display: flex;
  }

  .leave_comment{
    width: 70%;
    margin-bottom: 30px;
  }

  .submit-comment{
    background-color: #16741d;
    border-color: #16741d;
}
 
#comment_input{
  margin: 10px 0;
}

  #noUser {
    width: fit-content;
    justify-content: center;
    background-color: #c13c3c57;
    padding: 5px 5px 0 5px;
    margin-bottom: 1%;
    color: #1f4b54;
    font-weight: bold;
  }

  #comments-scroll{
    height: 31vh;
    border: 2px solid #6c6b6b;
    background-color: white;
    margin-bottom: 9px;
    width: 40%;
  }

  .post_header{
    margin: 0 0 2% 3%;
    border-bottom: dashed black;
    color: darkblue;
  }

  .post_title{
    font-size: 15pt;
  }

  .user_info{
    font-style: italic;
    font-size: 9pt;
  }

  .blogFeed{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #inputForm, #updateForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
  }
  #homepage-contents h3{
    width: 400px;
    margin-left: 2%;
  
  }
  
  .search-contents{
    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 30px;
    width: 100%;
  
  }
  #searchBar {
    width: 300px;
    
  }
  .inputs{
    width: 500px;
  }
  .login-page {
    display: flex;
    justify-content: space-between;
  }
  .login-page section{
    margin-bottom: 10px;
  }
  .login-card{
    /* background-image: linear-gradient(to bottom right, #008C76FF, #9ED9CCFF) ; */
    box-shadow: 5px 2px 2px #605a5b;
    border-radius: 10px 0 10px 0;
  }
  
  .login-text{
    color: black;
  }

  .formBtn{
    float: right;
  }

  .publish-post, #updateBtn{
    margin-left: 10%;
    background-color: #207020;
    border-color: #207020;
  }

.input-form-group{
  width: 80%;
}

  .homepage_btn{
    background-color: rgb(165 105 96);
    margin-left: 10px;
  }
 
  .selected_post, .commentFeed{
    justify-content: center;
    display: flex;
  }
  
  #deleteBtn {
    background-color: #702020;
    border-color: #702020;
  }